<section class="modal--show modal--transition-fade" id="modal-text" tabindex="-1"
role="dialog" aria-labelledby="modal-label" aria-hidden="true">

  <div class="modal-inner">
    <div class="modal-content">
      <h1>Before you restore</h1>
      <p>Make sure that:</p>
      <ol data-component-restore style="list-style-type: none">
        <li><input type="checkbox" data-component-restore-criteria> You're not in the piece of content.</li>
        <li><input type="checkbox" data-component-restore-criteria> No one else is in.</li>
      </ol>

      <div class="modal__button-group">
        <button disabled id="restore-btn"
                class="modal__button-group__item btn btn-primary"
                type="button"
                data-content-id="{{ contentId }}"
                data-archived-version-path="{{ archivedVersionPath }}">Understood, restore this version</button>
        <a class="modal__button-group__item btn btn-default" href="#!">Cancel</a>
      </div>

    </div>
  </div>

  <a href="#!" class="modal-close" title="Close this modal" data-close="Close" data-dismiss="modal">?</a>
</section>