@()

@main("Composer Restorer") {
    <div class="find-versions">
        <h2>Composer Restorer</h2>
        <p>Paste the <em>Composer URL</em> to a piece of content</p>
        <form role="form" action="/find" method="post">
            <div class="form-group">
                <label for="url"></label>
                <input class="form-control" id="url" name="url" type="text">
            </div>
            <input class="btn btn-default" type="submit" value="Find versions">
        </form>
    </div>

}